<!-- FOOTER -->

<footer class="bg-dark text-light py-5 mt-5">

<div class="container text-center">

<p class="mb-3">&copy; <%= new Date().getFullYear() %> Muhammad Islam. All rights reserved.</p>

<div class="d-flex justify-content-center mb-3">

<!-- GitHub -->
<a href="https://github.com/Muhammadislam776" target="_blank" class="mx-2 text-light">
<i class="bi bi-github fs-4"></i>
</a>

<!-- YouTube -->
<a href="https://www.youtube.com/@Creator.804" target="_blank" class="mx-2 text-danger">
<i class="bi bi-youtube fs-4"></i>
</a>

<!-- LinkedIn -->
<a href="https://linkedin.com/in/muhammad-islam-4878a9342" target="_blank" class="mx-2 text-primary">
<i class="bi bi-linkedin fs-4"></i>
</a>

<!-- twitter -->
<a href="https://x.com/islam_muha77374" target="_blank" class="mx-2 text-warning">
<i class="bi bi-twitter fs-4"></i>
</a>

</div>

<p class="small">
Designed & Developed by Muhammad Islam 
</p>

</div>

</footer>

<!-- Bootstrap JS -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>